.PNF{
  background-image: url("/home/coder/project/workspace/reactapp/src/404_error.png");
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  
  
}

/* .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .errorImage {
    width: 200px;
    margin-bottom: 20px;
  }
  
  .errorTitle {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .errorMessage {
    font-size: 18px;
    margin-bottom: 20px;
    color: #777;
  }
    */
  .errorLink {
    position: absolute;
    left: 19%;
    bottom: 48%;
    transform: translate(-50%, 50%);
    padding: 10px;
    background-color: #FFFFFF;
    color: linear-gradient(to bottom right, #1aecec, 	#f50d81);
    border-radius: 2px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh;


  }
  
  .errorLink:hover {
    background-color: #101010;
    text-decoration: none;
    color: #fff;
    /* transform: translateY(0.2px); */
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    /* transition: transform 0.3s ease-in-out, text-shadow 0.3s ease-in-out; */
  }
  
  /* .errorLink:focus {
    outline: none;
    text-decoration: none;
  }
  
  .errorLink:active {
    transform: scale(0.95);
  } */
  