

.edit-event-page {
  background: linear-gradient(to bottom right, #8df6f6, #f5aacf, #ff69b4);
  padding: 10px;
}

.edit-event-page h2 {
  margin-bottom: 20px;
}

.edit-event-form {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.form-group label,
.form-group input {
  width: 50%;
}

.edit-event-form input {
  height: 20px;
  padding: 8px;
  font-size: 17px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  justify-content: center;
  align-items: center;
}


.edit-event-form label {
  width: 45%;
  margin-right: 60px; 
}


/* .edit-event-form label[for="applicantAddress"] {
  width: 30%; 
} */

.edit-event-form button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-event-form button:hover {
  background-color: #45a049;
}
