.customerFoodMenu-card {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 150px;
    background-color: #fff; /* Set background color to white */
    margin: 0 70px 40px; /* Add margin on both right and left sides, and bottom margin */
    border-radius: 4px; /* Add border-radius to create a square border */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Add a less solid black border */
    transition: box-shadow 0.3s ease, transform 0.2s ease; /* Add transitions for smooth hover effect */
  }

    .customerFoodMenu-card:hover {
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2); /* Change box shadow on hover to expand in all directions */
        transform: translateY(2px); /* Apply a vertical translation on hover */
    }

    .foodmenu-image {
        width: 100px;
        height: 100%;
        object-fit: cover;
    }
    
      
    .foodmenu-details-2 {
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
      .foodmenu-details-2 h3{
        white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      /* Specify the desired width to accommodate the truncated event name */
      width: 100px;
    }

        .foodmenu-details-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .customer-foodmenu-search-box {

        display: flex;
        align-items: center;
        padding: 16px;
        margin : 10px 10px;
        width: 100%;
    
    }
    .customer-foodmenu-search-box button {
        width: 45px;
        height: 45px;
        border: 1px solid #8c52b5;
        background: #8c52b5;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E"); 
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: center;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
    }
    .customer-foodmenu-wrap{
        display: inline-flex;
        align-items: center;
        width:80%;
        padding: 16px;
        margin-bottom: 10px;
    }
    .getFoodmenu-main-navbaar {
        position: sticky;
        top: 0;
        z-index: 2;
        width: 100%;
    }