.main_content{
    width: 100vw;
    height: calc(100vh - 70px);
    /* background: linear-gradient(to right, #56ccf2, #2f80ed); */
    background: linear-gradient(to bottom right, #8df6f6, #f5aacf, #ff69b4);

}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.theme_form{
    flex-basis: 80%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    /* border: 2px solid black; */
}

.themes_view{
    flex-basis:20%;
    padding: 2%;
    background-color: white;
    margin: 10px;
    /* border: 2px solid red; */
}

.card_scroll_view{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    height: 100%;
    overflow: auto;
    background-color: white;
}

.form{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

input{
    /* padding: 10px; */
    padding: 20px 10px;
    border-radius: 10px;
    border: none;
}

input:focus{
    outline: none;
}
.add_btn_container{
    height: 161px;
}
.add_btn{
    position: relative;
    cursor: pointer;
    /* bottom: 15%; */
    top: 100px;
    width: 100%;
    background-color: rgb(247, 43, 203);
    color: #fff;

}

.add_btn:hover{
    background-color: #ff6f00;
}

.card{
    width: 350px;
    height: 400px ;
    background-color: whitesmoke;
    border-radius: 10px;
}

img{
    width: 350px;
    height: 200px;
    object-fit: fill;
    border-radius: 10px 10px 0px 0px;
}

.event_details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event_details_place{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.event_text{
    font-size: 1em;
    font-weight: bold;
}

.theme_price_rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
/* styles.css */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-5%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px; /* Adjust the width as needed */
    min-width: 30%;
    min-height: 90%;
    z-index: 100;
  }
  
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modalContent {
    width: 400px;
    max-width: 90%;
  }
  
  .modalTitle {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .modalForm {
    margin-bottom: 20px;
  }
  
  .modalInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .modalButtonContainer {
    display: flex;
    justify-content: center;
  }
  
  .modalButton {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .modalTextarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-bottom: 10px;
  }
  